* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: black; 

    background-image: url('Archivos/BG.png');
    background-size: auto; /* Mantiene tamaño original para repetición */
    background-position: top left; 
    background-repeat: repeat; /* Repite horizontal y verticalmente */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.header {
    text-align: center;
    padding-top: 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.profile-img {
    width: 32px;
    height: 32px;
}

h1.changing-text {
    font-size: 3em;
    font-weight: bold;
    animation: colorChange 5s infinite;
    margin-bottom: 5px;
}

p {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin: 5px 0;
}

.custom-container {
    background-color: #D5B9A3; 
    border: 2px solid black; 
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.custom-text {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    margin-bottom: 20px;
    gap: 20px; 
}

button {
    background-color: #D5B9A3; 
    color: black;
    border: 2px solid black;
    padding: 20px 40px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    animation: buttonPulse 1.5s infinite;
}

button:hover {
    background-color: #C2A38E; 
    color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.social-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-bottom: 10px;
}

.social-info div {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
}

.instagram {
    color: black;
}

.discord {
    color: black;
}

.contact-info {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    text-align: center;
}

@keyframes colorChange {
    0% {
        color: black;
    }
    33% {
        color: black;
    }
    66% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes buttonPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.secret-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5cm;
    color: black;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
} 
